.messageInputForm {
  display: flex;
  align-items: center;
  padding: 10px;

  border-top: 2px solid #444;
  flex-shrink: 0;
}

.messageInput {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: white;
  outline: none;
}

.messageInput:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
}

.sendButton {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.sendButton:hover {
  background-color: #008c9e;
}

.sendButton:disabled {
  background-color: #888;
  cursor: not-allowed;
}
